# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
UnityPackageManager/
Assets/AutoSave/
[bB]uilds/

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.vs
*.vscode
*.idea
Assets/Plugins/Editor/JetBrains.meta

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
